* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.contatos {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 40px;
    margin: 12px 0;
    background-color: #ffffff;
    padding: 0 10%;
}

.link {
    display: flex;
    gap: 20px;
}

.email:hover {
    cursor: pointer;
    color: aqua;
}

.numero:hover {
    cursor: pointer;
    color: aqua;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    border: #000000 solid 1px;
}

.icons:hover {
    background-color: aqua;
    cursor: pointer;
}

.whatsapp {
    height: 20px;
}

.logo {
    display: flex;
}

.banner-inicial {
    position: relative;
}

.imagem-banner {
    width: 100vw;
}

.text-titulo {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: #FFFFFF;
    margin-left: 10%;
    top: 20vh;
    transition: 0.5s;
}

.titulo-principal {
    font-size: 64px;
    font-weight: 700;
    color: aqua;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: aqua;
}

.subtitulo {
    font-size: 24px;
    font-weight: 400;
    width: 350px;
}

.InicioButton {
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s;
}

.InicioButton:hover {
    background-color: blue;
    margin-bottom: 6px;
}

.servicos {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 60vh;
    padding: 2% 10%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: #bbbaba solid 1px;
    border-radius: 8px;
    margin-top: 2%;
    width: 220px;
    height: 300px;
}

.img {
    display: flex;
    justify-content: center;
}

.imagem {
    display: flex;
    border-radius: 8px;
    width: 200px;
}

.info {
    margin-top: 4px;
}

@media (max-width: 920px) {
    .text-titulo {
        top: 40vh;
    }
}

@media (max-width: 720px) {
    .text-titulo {
        top: 30vh;
    }
}

@media (max-width: 400px) {
    .text-titulo {
        top: 20vh;
    }
}