@font-face {
    font-family: "Organetto";
    src: url(/Antt/fonte/organetto-regular.ttf);
}

@font-face {
    font-family: "Conthrax";
    src: url(/Antt/fonte/Conthrax-SemiBold.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Conthrax";
}

.contatos {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    width: 100vw;
    height: 40px;
    margin: 12px 0;
    background-color: #ffffff;
    padding: 0 10%;
}

.links {
    display: flex;
    gap: 12px;
}

.link {
    font-weight: 700;
    margin-top: 12px;
    transition: 0.6s;
}

.link:hover {
    cursor: pointer;
    color: #00246A;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    border: #000000 solid 1px;
    transition: 0.6s;
}

.icon:hover {
    background-color: #00246A;
    cursor: pointer;
}

.icons {
    height: 20px;
}

.logo {
    display: flex;
}

.banner-Inicial {
    background-image: url(/Antt/assets/img/caminhaocargabranco.jpg);
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.text-titulo {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: #FFFFFF;
    width: 40vw;
    margin-left: 10%;
    top: 40vh;
    transition: 0.5s;
}

.titulo-principal {
    font-size: 64px;
    font-weight: 700;
    color: #00246A;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #00246A;
}

.subtitulo {
    font-size: 24px;
    font-weight: 400;
    width: 350px;
}

.InicioButton {
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s;
}

.InicioButton:hover {
    background-color: blue;
    margin-bottom: 6px;
}

.servicos {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 60vh;
    padding: 2% 10%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    border: #bbbaba solid 1px;
    border-radius: 8px;
    width: 300px;
    height: 420px;
}

.img {
    display: flex;
    justify-content: center;
}

.imagem {
    display: flex;
    border-radius: 8px;
    width: 300px;
}

.info {
    margin-top: 4px;
}

@media (max-width: 920px) {
    .text-titulo {
        top: 40vh;
    }
}

@media (max-width: 720px) {
    .text-titulo {
        top: 30vh;
    }
}

@media (max-width: 400px) {
    .text-titulo {
        top: 20vh;
    }
}